---
import Playlist from "../components/Playlist.astro";
import Songbar from "../components/Songbar";
import Tarjeta from "../components/Tarjeta.jsx";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Derecho from "../components/Derecho.jsx";
import Centra from "../components/Centra.jsx";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const api = await fetch("https://api.institutoalfa.org/api/songs");
const { songs } = await api.json();
---





<Layout>
	<div class="container">
		<div style="position: relative;">
			<div class="Fondo"></div>
			<div class="biblioteca-contenido">
				<h1>tu biblioteca</h1>
				<p>tus canciones</p>
				<p>tus artistas</p>
				<Playlist titulo="playlist" imageUrl="/albun 2025.webp" />
				<Playlist titulo="playlist" imageUrl="/albun 2025.webp" />
				<Playlist titulo="playlist" imageUrl="/albun 2025.webp" />
			</div>
		</div>
		<div>
			<div>
				<div>
					<p>artista verificado</p>
					<Icon name="fe:check-verified" />
				</div>
				<Centra client:visible />
			</div>

			<div>
				<!-- tarjeta -->
				{
					songs.map((song) => (
						<Tarjeta
							client:visible
							title={song.title}
							author={song.author}
							album={song.album}
							imageUrl={song.image.url}
							audioURL={song.audio.url}
						/>
					))
				}
			</div>
		</div>
		<Derecho client:visible />
		<div></div>
	</div>

	<Songbar client:visible />
</Layout>
<style>
	.container {
		display: flex;
		justify-content: space-between;
		gap: 24px;

		



<style>
	
	}
	.Fondo {
		background: #2b2b2b;
		border: 10px solid #2b2b2b;
		border-radius: 16px;
		position: absolute;
		top: 0;
		left: 0;
		width: 380px;
		min-height: 420px;
		z-index: 0;
	}
	.biblioteca-contenido {
		position: relative;
		z-index: 1;
		padding: 32px 24px 24px 32px;
	}
</style>