---
import Playlist from "../components/Playlist.astro";
import Songbar from "../components/Songbar";
import Tarjeta from "../components/Tarjeta.jsx";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const api = await fetch("https://api.institutoalfa.org/api/songs");
const { songs } = await api.json();
---

<Layout>
	<div class="container">
		 <div>
			<h1>tu biblioteca</h1>
	
			<Playlist titulo="playlist" imageUrl="/albun 2025.webp" />
	
			<Playlist titulo="playlist" imageUrl="/albun 2025.webp" />
	
			<Playlist titulo="playlist" imageUrl="/albun 2025.webp" />
		</div> 
	
		<div>
			<div>
				<div>
					<p>artista verificado</p>
					<Icon name="fe:check-verified" />
				</div>
				<h1>nombre del artista</h1>
			</div>
	
			<div>
				<!-- tarjeta -->
				{
					songs.map((song) => (
						<Tarjeta
							client:visible
							title={song.title}
							author={song.author}
							album={song.album}
							imageUrl={song.image.url}
							audioURL={song.audio.url}
						/>
					))
				}
			</div>
	
		</div>
	
		<div>
			<!-- Aquí adentro va la barra de la derecha -->
		</div>

	</div>

	<Songbar client:visible />
</Layout>

<style>
.container {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}
</style>
